h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: white;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: white;
}

.linkA {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #0284d4;
    text-decoration: none;
}