body {
    background-color: #171818;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: white;
}

h1 > span {
    font-family: "Montserrat", sans-serif;
    color: var(--accent);
}