.centeredContainer {
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: white;
}

h1 > span {
    font-family: "Montserrat", sans-serif;
    color: var(--accent);
}

.gradientText {
  --bgSize: 400%;
  --colorOne: hsl(15 90% 55%);
  --colorTwo: hsl(40 95% 55%);
  font-size: 36px;
  background: linear-gradient(
    90deg,
    var(--colorOne),
    var(--colorTwo),
    var(--colorOne)
  ) 0 0 / var(--bgSize) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 10s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .gradientText {
    animation: move-bg 10s linear infinite;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bgSize) 0;
  }
}
